tmp
bin
build
.DS_Store
.gitignore
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*
.settings/
.apt_generated
build.properties
.idea/
libs/